[submodule "pack/bundle/start/solarized"]
	path = pack/bundle/start/solarized
	url = https://www.github.com/altercation/vim-colors-solarized
[submodule "pack/bundle/start/airline"]
	path = pack/bundle/start/airline
	url = https://www.github.com/vim-airline/vim-airline
[submodule "pack/bundle/start/airline-themes"]
	path = pack/bundle/start/airline-themes
	url = https://www.github.com/vim-airline/vim-airline-themes
[submodule "pack/bundle/start/sensible"]
	path = pack/bundle/start/sensible
	url = https://www.github.com/tpope/vim-sensible
[submodule "pack/bundle/start/commentary"]
	path = pack/bundle/start/commentary
	url = https://www.github.com/tpope/vim-commentary
[submodule "pack/bundle/start/fzf"]
	path = pack/bundle/start/fzf
	url = https://www.github.com/junegunn/fzf
[submodule "pack/bundle/start/projectionist"]
	path = pack/bundle/start/projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule "pack/bundle/start/mesonic"]
	path = pack/bundle/start/mesonic
	url = https://github.com/igankevich/mesonic
[submodule "pack/bundle/start/clang-format"]
	path = pack/bundle/start/clang-format
	url = https://github.com/rhysd/vim-clang-format
[submodule "pack/bundle/start/json"]
	path = pack/bundle/start/json
	url = https://github.com/elzr/vim-json
[submodule "pack/bundle/start/rooter"]
	path = pack/bundle/start/rooter
	url = https://github.com/airblade/vim-rooter
[submodule "pack/bundle/start/unimpaired"]
	path = pack/bundle/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/bundle/start/repeat"]
	path = pack/bundle/start/repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/bundle/start/surround"]
	path = pack/bundle/start/surround
	url = https://github.com/tpope/vim-surround
